<form>
  <div class="container anecdote">
    <div class="row">
      <div class="col-xs-12">
        <h3>Share Something Personal</h3>
        <p>Thank you for choosing to share more of your story</p>
        <div class="form-group">
          <textarea cols="60" rows="10" class="form-control" name="anecdote" placeholder="200 characters max"></textarea>
        </div>
        <div class="form-group actions">
          <p>
            If you'd like, you can provide information about yourself that will help mental health researchers with their work.
          </p>
          <button class='share btn btn-default'>Share With Researchers</button>
          <button class='finish btn btn-default'>I'm finished, project now</button>
        </div>
      </div>
    </div>
  </div>
</form>
