<form>
  <div class="container research-info">
    <div class="row">
      <div class="center-block">
        <h3>Help improve mental health research</h3>
        <div class="form-group">
          <label for="age">Age</label>
          <select name="age" class="form-control" id="age">
            <option value="">18 or younger</option>
            <option value="">18-24</option>
            <option value="">25-34</option>
            <option value="">35-44</option>
            <option value="">55-64</option>
            <option value="">65 or older</option>
          </select>
        </div>
        <div class="form-group">
          <label for="occupation">Occupation</label>
          <input type="text" class="form-control" name="occupation" id="occupation" />
        </div>
        <div class="form-group">
          <label for="gender">Gender Identity (optional)</label>
          <input name="gender" class="form-control" id="gender" />
        </div>
        <div class="form-group">
          <label for="race">Race (optional)</label>
          <input name="race" class="form-control" id="race" />
        </div>
        <div class="form-group actions">
          <p>
            Thanks for your contributions! Click "Project My Story" below to share your experience with the community.
          </p>
          <button class="btn btn-default" type="submit">Project My Story</button>
        </div>
      </div>
    </div>
  </div>
</form>
