<form>
  <div class="container story">
    <div class="row">
      <div class="center-block">
        <div class="form-group">
          <label for="person">I am...</label>
          <select class="person form-control" id="person">
            <option value="me">a person who</option>
            <option value="someone-else">a person whose loved one</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center-block">
        <div class="form-group checkbox disorders">
          <div>...lives with one or more of the following diagnosed mental disorders</div>
          <label for="depression" class="disorder-checkbox">
            <input type="checkbox" id="depression" name="depression" />Depression
          </label>
          <label for="anxiety" class="disorder-checkbox">
            <input type="checkbox" id="anxiety" name="anxiety" />Anxiety
          </label>
          <label for="bipolar-disorder" class="disorder-checkbox">
            <input type="checkbox" id="bipolar-disorder" name="bipolar-disorder" />Bipolar Disorder
          </label>
          <label for="dementia" class="disorder-checkbox">
            <input type="checkbox" id="dementia" name="dementia" />Dementia
          </label>
          <label for="adhd" class="disorder-checkbox">
            <input type="checkbox" id="adhd" name="adhd" />ADHD
          </label>
          <label for="schizophrenia" class="disorder-checkbox">
            <input type="checkbox" id="schizophrenia" name="schizophrenia" />Schizophrenia
          </label>
          <label for="ocd" class="disorder-checkbox">
            <input type="checkbox" id="ocd" name="ocd" />OCD
          </label>
          <label for="autism" class="disorder-checkbox">
            <input type="checkbox" id="autism" name="autism" />Autism
          </label>
          <label for="ptsd" class="disorder-checkbox">
            <input type="checkbox" id="ptsd" name="ptsd" />PTSD
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center-block">
        <div class="form-group actions">
          <div><p>You can project now, or you can share a personal story or message about your condition.</p></div>
            <button class="share btn btn-default">Share Something Personal</button>
          {{#link-to 'index'}}
            <button class="finish btn btn-default">I'm finished, project now</button>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</form>
