@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('../fonts/Avenir Next Condensed.ttc') format("ttc");
    font-weight: 100;
    font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/Avenir Next.ttc') format("ttc");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.ttc') format("ttc");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Light';
  src: url('../fonts/AvenirLTStd-LightOblique-1.otf') format("otf");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  background-color: #1a1a1a;
}

.ember-burger-menu .bm-outlet .bm-content {
  background-color: transparent;
}

button, input, optgroup, select, textarea {
  color: #000;
}

form {
  button {
    border: 1px solid $blue;
    border-radius: 5px;
    box-shadow: 2px 1px 1px $blue;
    background-color: $light-blue;
    color: #000;
    padding: 1em;
    margin-right: 1em;
    &:hover {
      background-color: darken($light-blue, 15%);
      border: 1px solid darken($light-blue, 15%);
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  color: #f8ffff;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

h1.header {
  color: $text-color;
  font-family: "Avenir Next", sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  margin: 0;

  .bold {
    font-weight: 500;
  }
}

.home-header {
  text-align: center;
}

a {
  color: $link-color;
  transition: color .5s ease-in-out;
  &:hover {
    color: $link-color-hover;
    transition: color .5s ease-in-out;
    text-decoration: none;
  }
}

.story {
  margin-top: 3em;

  .form-group {
    clear: both;
  }

  .disorders {
    .disorder-checkbox {
      width: 100%;
      display: block;
      float: left;
      margin: 1em;
      @media (min-width: 430px) {
        width: 25%;
      }
    }
  }

  .center-block {
    width: 100%;
    @media (min-width: 968px) {
      width: 55%;
    }
  }

  .actions {
    text-align: center;
  }
}
