<div class="container anecdotes-summary">
  <div class="row summary">
    <div class="col-xs-12 center-block">
      <h2>{{model.name}}</h2>
      <p class="summary-description">
        {{model.body}}
      </p>
    </div>
  </div>
  <div class="row personal-anecdote">
    <div class="col-xs-12 center-block">
      <p class="anecdote">
        Nobody knows the real me. Nobody knows how many times I've cried in my room while no one was watching. How many times I've lost hope or felt let down. Nobody knows how many times I'm about to snap or lose control. But, I don't for the sake of others. Nobody. Knows. Me.
      </p>
    </div>
  </div>
</div>
