{{!-- drop down for mental illnesses --}}
{{#bs-form formLayout="horizontal" model=this action="submit"}}
<select class="disorder-select">
  {{#each model.disorders as |disorder|}}
    <option value="{{disorder.id}}">{{disorder.title}}</option>
  {{/each}}
</select>
{{!-- relationship dropdown (me/someone I know) --}}
<select class='relationship-select'>
  <option value='me'>Me</option>
  <option value='someone-else'>Someone I Know</option>
</select>
{{input type="submit" value="Submit"}}
{{/bs-form}}
